<!-- About -->
<section id="about" class="container content-section min-vh-100">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <h2>About the Nexus</h2>
      <p>The Cyber Policy Nexus (or the Nexus) is a safe space online for cyber policy professionals to congregate and collaborate, to learn and educate. The Slack workspace provides a platform for open discussions on general topics and allows individual groups to start private channels for closed discussions.</p>
      <p>Participation is contingent on adhering to the <a href="#rules">Rules of Engagement</a>. and community norms as they emerge. If you are a cyber policy professional interested in participating, submit a request through the <a href="#signup">Signup Form</a>.</p>
    </div>
  </div>
</section>
