<!-- Rules of Engagement -->
<section id="about" class="container content-section min-vh-100">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <h2>About the Nexus</h2>
      <p>The Cyber Policy Nexus (or just the Nexus) is a Slack workspace for cyber policy professionals from around the world to congregate and collaborate.</p>
      <p>I know what you're thinking, "Not another Slack?!" But hear me out. The cyber policy community lacks a common online space to educate each other and share expertise and ideas. Slack provides a platform for open discussions on general topics
        and allows individual groups to start their own private channels for private conversations or to explore specific topics.</p>
      <p>Participation in the Nexus is contingent on the <a href="#rules">Rules of Engagement</a>. If you have a cyber policy role and agree to uphold the Rules of Engagement, register through the <a href="#signup">Signup Form</a> below.</p>
    </div>
  </div>
</section>
