<!-- Rules of Engagement -->
<section id="rules" class="container content-section min-vh-100">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <h2>Rules of Engagement</h2>
      <p>While the Nexus is an inclusive group, it serves the global cyber policy community and discussions focus on cybersecurity topics.</p>
      <p>The Nexus is non-partisan, non-political, and non-commercial.</p>
      <p>All participants must set up a proper profile for themselves including a) your real name, b) a description of your role, c) any relevant affiliations, 4) policy areas of interest. The profile does not need to include a photo.</p>
      <p>The Nexus operates under <a href="https://www.chathamhouse.org/chatham-house-rule">the Chatham House Rule</a>, <em>“participants are free to use the information received, but neither the identity nor the affiliation of the speaker(s),
          nor that of any other participant, may be revealed</em>.”</p>
      <p>The Nexus provides a safe space for participants to learn and share. We strive to create an environment where participants feel comfortable asking questions and seeking assistance. Any aggressive or derogatory approaches that diminish
        that may result in responsible participants being blocked.</p>
    </div>
  </div>
</section>
